.search {
  position: relative;
  left: 36%;
  margin-top: 3%;
  border: 1px solid black;
  border-radius: 35px;
  width: 25%;
  height: 39px;
  padding-left: 20px;
  .search-bar {
    display: inline-block;
    position: absolute;
    padding-left: 26px;
    padding-top: 10px;
    width: 76%;
    height: 24px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    outline: none;
  }
  .w-1 {
    width: 50px;
    position: fixed;
    right: 40px;
    cursor: pointer;
  }
}
